@{
    ViewBag.Title = "Notificaciones";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<br />
<form action="~/Phone/SendPromotionSMS/" method="post">
    <div class="row form-group" style="text-align:center">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h5 class="panel-title pull-left">Envío SMS (Promociones)</h5>
        </div>
    </div>
    <div class="row" style="text-align:center">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hr />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <input type="text" class="form-control" id="phone" name="phone" /><br />
            
            <input type="submit" class="btn btn-info" value="Enviar SMS" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3">
        </div>
    </div>
</form>
