@model CarpoolingCR.Objects.Responses.DisplayMessagesResponse
@{
    ViewBag.Title = "DisplayMessages";
}

<h2>Inbox</h2>

<div class="row form-group">
    @{
        foreach (var message in Model.Messages)
        {
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                if
            </div>
        }
    }
</div>
