@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @{

                    var claims = (System.Security.Claims.ClaimsIdentity)User.Identity;
                    var profilePic = claims.FindFirst("Picture");
                    var picPath = string.Empty;

                    if (profilePic != null)
                    {
                        picPath = Url.Content(profilePic.Value);
                    }
                }
                <a href="~/Manage/ProfileInfo" title="Perfíl" style="padding:2px;margin:2px">
                    <div class="" id="profile-container-small" data-toggle="tooltip" style="width:45px; height:45px" data-placement="bottom" title="Perfíl"><img src="@picPath" /></div>
                </a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Cierra Sesión</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Regístrate", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li>@Html.ActionLink("Inicia Sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}
