@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<br /><br />
<div class="jumbotron">
    <small class="text-danger">¡Nos encontramos en mantenimiento, estaremos de vuelta en breve! <br/><br /> Si necesita más información, por favor envíenos un correo a <a href="mailto: administrador@buscoridecr.com">administrador@buscoridecr.com</a> y le responderemos a la mayor brevedad.</small>
</div>

