@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<br /><br />
<div class="jumbotron">
    <small class="text-danger">¡Hubo un error al procesar tu solicitud, por favor intenta de nuevo!</small>
</div>

