@model CarpoolingCR.Models.Reservation

@{
    ViewBag.Title = "Delete";
}
<h2>Reservas</h2>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<h4>Está seguro que desea eliminar la reserva?</h4>
<div>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("<<", "Transportation", "Reservations", new { }, new { @class = "btn btn-primary" }) <input type="submit" value="Eliminar" class="btn btn-danger pull-right" />
        </div>
    }
</div>