@model CarpoolingCR.Models.Bank

@{
    ViewBag.Title = "Details";
}

<h3>Details</h3>

<div>
    <h4>Bank</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BankId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
