
@{
    ViewBag.Title = "CheckEmail";
}
<meta name="viewport" content="width=device-width, user-scalable=no">
<hr />
<div class="container body-content">
    <div class="jumbotron">
        <small>Bienvenido a https://buscoridecr.com! Te hemos enviado un correo electrónico con los pasos para activar tu cuenta. Por favor revisa tu correo. Si no podés ver el correo, revisa el correo no deseado.</small>
    </div>
</div>
<hr />
