
@{
    ViewBag.Title = "CheckEmail";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<hr />
<div class="container body-content">
    <div class="jumbotron">
        <p class="lead">
            <small>Bienvenido a www.buscoridecr.com! Te hemos enviado un correo electrónico con los pasos para activar tu cuenta. Por favor revisa tu correo. Si no podés ver el correo, revisa el correo no deseado.</small>
        </p>
    </div>
</div>
<hr />
