
@{
    ViewBag.Title = "CheckEmail";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<hr />
<div class="container body-content">
    <div class="jumbotron">
        <small><b>¡Bienvenido a buscoridecr.com!</b><br /><br />Te hemos enviado un correo electrónico con los pasos para activar tu cuenta, por favor revisa tu correo y, de no encontrarlo, por favor revisa tu correo no deseado. 
        Si aún no encontrás el correo de activación, intentá iniciar sesión en el sitio, éste verificará tu activación y al no estar activa, te enviará nuevamente el correo de activación.</small><br /><br />

        @*<small>*** Dispones de 7 días para activar tu cuenta antes de que ésta sea borrada.</small>*@
    </div>
</div>
<hr />
