
@{
    ViewBag.Title = "CheckEmail";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<hr />
<div class="container body-content">
    <div class="jumbotron">
        <small><b>¡Bienvenido a buscoridecr.com!</b><br /><br />Te hemos enviado un correo electrónico con los pasos para activar tu cuenta, por favor revisa tu correo y recuerda revisar tu correo no deseado. 
        Si aún no podés ver el correo de activación, intenta iniciar sesión en el sitio, éste verificará tu activación y al no estar activa, enviará nuevamente el correo de activación.</small><br /><br />

        <small>*** Dispones de 7 días para activar tu cuenta antes de que ésta sea borrada.</small>
    </div>
</div>
<hr />
