
@{
    ViewBag.Title = "CheckEmail";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<hr />
<div class="container body-content">
    <div class="jumbotron">
        <small>Bienvenido a <a href="https://buscoridecr.com">https://buscoridecr.com</a>! Te hemos enviado un correo electrónico con los pasos para activar tu cuenta. Por favor revisa tu correo. Si no podés verlo, revisa el correo no deseado.</small>
    </div>
</div>
<hr />
