@{
    ViewBag.Title = "Confirm Email";
}
<meta name="viewport" content="width=device-width, user-scalable=no">
<hr />
<div class="container body-content">
    <div class="jumbotron">
        <small>Tu cuenta ha sido activada! Para iniciar sesión da click @Html.ActionLink("AQUÍ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</small>
    </div>
</div>
<hr />