@model CarpoolingCR.Objects.Responses.ContactUsResponse

@{
    ViewBag.Title = "ContactUs";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<br />
<div class="row form-group" style="text-align:center">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h5 class="panel-title pull-left">Contáctenos</h5>
    </div>
</div>
<div class="row" style="text-align:center">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr />
    </div>
</div>
<div class="jumbotron">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:justify">
            Si necesitas información referente al sitio o tenés preguntas o comentarios, por favor Contáctenos por los siguientes medios y nos pondremos en contacto con vos lo antes posible.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <b>Correo Electrónico: </b>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="mailto: @Model.Email">@Model.Email</a>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <b>Facebook: </b>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="https://www.facebook.com/buscoridecr/?modal=admin_todo_tour" target="_blank"><img src="~/Content/Icons/facebook.png" style="width:100px; height:100px" title="White flower" alt="Flower"></a>
        </div>
    </div>
</div>
