@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<meta name="viewport" content="width=device-width, user-scalable=no">
<br />
<div class="container body-content">
    <div class="jumbotron">
        <small>Te hemos enviado un correo para crear tu nueva contraseña de acceso.</small>
    </div>
</div>
<hr />