@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<br />
<div class="container body-content">
    <div class="jumbotron">
        <p class="lead">
            <h3>Te hemos enviado un correo para el reseteo de clave.</h3>
        </p>
    </div>
</div>
<hr />