@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<br />
<div class="container body-content">
    <div class="jumbotron">
        <p class="lead">
            <h3>Te hemos enviado un correo para el reseteo de clave.</h3>
        </p>
    </div>
</div>
<hr />