@{
    ViewBag.Title = "Reset password confirmation";
}
<hr />
<div class="container body-content">
    <div class="jumbotron">
        <p class="lead">
            <h3>Tu clave ha sido reseteada. Para iniciar sesión de click @Html.ActionLink("AQUÍ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</h3>
        </p>
    </div>
</div>
<hr />