@{
    ViewBag.Title = "Reset password confirmation";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<hr />
<div class="container body-content">
    <div class="jumbotron">
        <p class="lead">
            <small>Tu nueva clave ha sido creada. Para iniciar sesión de click @Html.ActionLink("AQUÍ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</small>
        </p>
    </div>
</div>
<hr />