@{
    ViewBag.Title = "Reset password confirmation";
}
<meta name="viewport" content="width=device-width, user-scalable=no">
<hr />
<div class="container body-content">
    <div class="jumbotron">
        <small>Tu nueva contraseña ha sido creada. Para iniciar sesión de click @Html.ActionLink("AQUÍ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</small>
    </div>
</div>
<hr />