
@{
    ViewBag.Title = "IndexDetail";
}

<div class="row form-group">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default" style="text-align:justify; border-radius:10px; padding:20px; margin:20px">
            <h4>
                Promoción 2020
            </h4>
            <hr />
            Gánate un bono de ₡1.000,00 con buscoridecr.com al crear tus viajes o al reservar.
            <br />
            <br />
            Además entra a tu <a href="~/Manage/ProfileInfo">Perfíl</a>, copia tu link de referencia y envíalo a tus contactos. Por cada contacto que se registre y confirme su correo electrónico bajo tu link de referencia, recibirás ₡1.000,00 de bono extra.
            También, los ususarios de nuevo ingreso recibirán ₡1.000,00 de bienvenida.
            <br />
            <br />
            Para más información escríbenos al correo <a href="mailto:administrador@buscoridecr.com?subjet:Problemas">administrador@buscoridecr.com</a>
            <br />
            <br />
            <small class="pull-right">Aplican Restricciones, promoción válida hasta agotar existencias</small>
        </div>
    </div>
</div>

