@model CarpoolingCR.Objects.Responses.HistorialResponse
@{
    ViewBag.Title = "LoadDriverTripHistorial";
}

<style>
    .checked {
        color: orange;
    }
</style>
<br />
<div class="row form-group" style="text-align:center">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h5 class="pull-left">Historial de viajes</h5>
    </div>
</div>

<div id="container-id" class="row container">
    @Html.Partial("~/Views/Trips/Partials/_DriverTripHistorial.cshtml", Model)
</div>
