@{
    ViewBag.Title = "Home Page";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<div class="row form-group">
    <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">

    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        @*<img src="~/Content/Icons/Car.png" style="width:400px; height:150px" />*@
    </div>
    <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">

    </div>
</div>

<div class="jumbotron">
    <div class="row visible-xs">
        <div class="col-xs-12">
            <img src="~/Content/Icons/100Sancarleno.png" class="center-block" />
            <br /><br />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-7 col-sm-7 col-xs-12" style="text-align:justify">
            <b>¡Bienvenidos!</b><br /><br />
            ¿Necesitas movilizarte entre ciudades y no tenés vehículo? ¿Pero también querés evitar el sistema de transporte público? (Largas filas para comprar
            tiquete, unidades sucias y en mal estado, tiempos prolongados de viaje largas horas de espera...) bueno pues igual que vos, existen conductores que se dirigen hacia tu destino
            con espacio disponible para llevarte. ¡Imagínate! un viaje más tranquilo, breve, cómodo y personalizado mientras conoces nuevos amigos!<br /><br />
        </div>
        <div class="col-lg-3 col-md-5 col-sm-5 col-xs-6 hidden-xs">
            <img src="~/Content/Icons/100Sancarleno.png" class="pull-right" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:justify">
            <b>¿Cómo Funciona?</b><br />
            ¡Tan simple como que el conductor te ofrece un servicio de transporte hacia tu destino por una cuota simbólica para la gasolina!<br /><br />

            <b>¿Y la seguridad?</b><br />
            Todo usuario registra sus datos de contacto como nombre, correo electrónico y teléfonos. En una siguiente actualización de nuestro sitio, incluiremos los siguientes puntos para tu seguridad: <br />
            - Los conductores ingresarán la información de su vehículo. <br />
            - Los usuarios podrán calificarse mutuamente. Estas calificaciones serán públicas.<br />
            - Historial de viajes con información de contactos del conductor y los pasajeros. Esta información podrá ser suministrada por buscoridecr.com en caso de ser solicitada.<br /><br />

            Habiendo dicho esto, buscoridecr.com es una página de puente de comunicación entre conductores y pasajeros y no tiene relación directa con éstos, por lo cuál no se hace
            responsable de cualquier eventualidad que suceda antes, durante o después de los viajes.<br /><br /><br />
        </div>
    </div>

    <h4><b>Siguenos en facebook: <a href="https://www.facebook.com/buscoridecr" target="_blank">https://www.facebook.com/buscoridecr</a></b></h4>
    <small>

        @*<b>¿Y la seguridad?</b><br />
            Todo usuario registra sus datos de contacto como correo electrónico, teléfono, dirección y; de ser conductor, detalles, marca y placa del vehículo.
            Además todo usuario tienen la opción de calificación de usuarios con comentarios al finalizar un viaje, que será pública en el sitio.
            Habiendo dicho esto, nuestro sitio se limita exclusivamente a servir como canal de comunicación entre conductores y pasajeros. NO nos hacemos responsables por
            cualquier eventualidad que pueda ocurrir durante el viaje.*@
    </small>
    </p>
    @*<p><a href="/UserRols/ValidateUserRol" class="btn btn-primary btn-lg">Vamos a iniciar &raquo;</a></p>*@
</div>

@*<div class="row form-group">
        <div class="col-lg-12">
            <a href="http://www.SmarterASP.NET/index?r=pvillalobos" style="text-align:center">
                <img src="http://www.SmarterASP.NET/affiliate/728X90.gif" border="0">
            </a>
        </div>
        <div class="col-xs-12 visible-xs">
            <a href="http://www.SmarterASP.NET/index?r=pvillalobos">
                <img src="http://www.SmarterASP.NET/affiliate/234x60.gif" border="0">
            </a>
        </div>
    </div>*@

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@