@{
    ViewBag.Title = "Home Page";
}

<div class="row form-group">
    <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">

    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        @*<img src="~/Content/Icons/Car.png" style="width:400px; height:150px" />*@
    </div>
    <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">

    </div>
</div>
<div class="jumbotron">
    <p class="lead" style="text-align:justify">
        <small>
            <b>¡Bienvenidos!</b><br /><br />
            ¿Necesitas movilizarte entre ciudades y no tenes vehículo? ¿Pero también estás cansado(a) del sistema de trasporte público? (Largas filas para comprar
            tiquete, unidades sucias y en mal estado, tiempos prolongados de viaje...) bueno pues igual que vos, existen conductores que se dirigen hacia tu destino
            con espacio disponible para llevarte. Imaginate! un viaje más tranquilo, cómodo y personalizado mientras conoces nuevos amigos!<br /><br />

            <b>¿Cómo Funciona?</b><br />
            Tan simple como el conductor te ofrece un servicio de transporte por una cuota simbólica para la gasolina!<br /><br />

            <b>¿Y la seguridad?</b><br />
            Todo usuario registra sus datos de contacto como correo electrónico, teléfono, dirección y; de ser conductor, detalles, marca y placa del vehículo.
            Además todo usuario tienen la opción de calificación de usuarios con comentarios al finalizar un viaje, que será pública en el sitio.
            Habiendo dicho esto, nuestro sitio se limita exclusivamente a servir como canal de comunicación entre conductores y pasajeros. NO nos hacemos responsables por
            cualquier eventualidad que pueda ocurrir durante el viaje.
        </small>
    </p>
    @*<p><a href="/UserRols/ValidateUserRol" class="btn btn-primary btn-lg">Vamos a iniciar &raquo;</a></p>*@
</div>

@*<div class="row form-group">
        <div class="col-lg-12">
            <a href="http://www.SmarterASP.NET/index?r=pvillalobos" style="text-align:center">
                <img src="http://www.SmarterASP.NET/affiliate/728X90.gif" border="0">
            </a>
        </div>
        <div class="col-xs-12 visible-xs">
            <a href="http://www.SmarterASP.NET/index?r=pvillalobos">
                <img src="http://www.SmarterASP.NET/affiliate/234x60.gif" border="0">
            </a>
        </div>
    </div>*@

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@