
@{
    ViewBag.Title = "Index";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<div class="row form-group">
    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">

    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 hidden-xs center-block">
        <br />
        <br />
        <br />
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">

    </div>
</div>
<div class="row form-group">
    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">

    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 hidden-xs center-block">
        <img src="~/Content/Icons/background.jpg" />
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">

    </div>
</div>
