
@{
                /**/

                ViewBag.Title = "Index";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<div class="row form-group">
    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">

    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 center-block">
        <br />
        <br />
        <br />
        <br class="visible-xs" />
        <br class="visible-xs" />
        <br class="visible-xs" />
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">

    </div>
</div>
<div class="row hidden-xs">
    <div class="col-lg-2 col-md-1 hidden-sm hidden-xs">

    </div>
    <div class="col-lg-8 col-md-10 col-sm-9 hidden-xs" style="align-content:center; padding:0px">
        <img src="~/Content/Icons/background.jpg" class="center-block" style="border-radius:15px" />
    </div>
    <div class="col-lg-2 col-md-1 col-sm-2 hidden-xs">

    </div>
</div>

<div class="row visible-xs">
    <div class="col-xs-2">

    </div>
    <div class="col-xs-8" style="align-content:center; padding:0px">
        <img src="~/Content/Icons/ride_small.jpg" class="center-block" style="border-radius:15px" />
    </div>
    <div class="col-xs-2">

    </div>
</div>
<br class="visible-xs" />
<br class="visible-xs" />
<br class="visible-xs" />
<br class="visible-xs" />
<br class="visible-xs" />
<br class="visible-xs" />