
@{
    ViewBag.Title = "Index";
}

<h3>¡Bienvenido!</h3>
<meta name="viewport" content="width=device-width, user-scalable=no" />
<br />
<hr />
<div class="row form-group">
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
        <a href="/Countries/Index" class="btn btn-info btn-block btn-sm" role="button" aria-disabled="true" style="border-radius:50px; align-self:center">Países</a>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
        <a href="/Towns/Index" class="btn btn-info btn-block btn-sm" role="button" aria-disabled="true" style="border-radius:50px; align-self:center">Crear Origen/Destino</a>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
        <a href="/Trips/Index" class="btn btn-info btn-block btn-sm" role="button" aria-disabled="true" style="border-radius:50px; align-self:center">Viajes como conductor</a>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
        <a href="/Reservations/Transportation" class="btn btn-info btn-block btn-sm" role="button" aria-disabled="true" style="border-radius:50px; align-self:center">Viajes como pasajero</a>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
        <a href="/Account/ManageUsers" class="btn btn-info btn-block btn-sm" role="button" aria-disabled="true" style="border-radius:50px; align-self:center">Usuarios</a>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
        <a href="/Logs/Index" class="btn btn-info btn-block btn-sm" role="button" aria-disabled="true" style="border-radius:50px; align-self:center">Logs</a>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
        <a href="/Banks/Index" class="btn btn-info btn-block btn-sm" role="button" aria-disabled="true" style="border-radius:50px; align-self:center">Bancos</a>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
</div>
