
@{
    ViewBag.Title = "Index";
}

<h4>¡Bienvenido!</h4>
<meta name="viewport" content="width=device-width, user-scalable=no" />
<br />
<hr />
<div class="row form-group">
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <a href="~/Countries/Index" class="btn btn-info btn-sm btn-block custom-spin-button" data-loading-text="<i class='fa fa-circle-o-notch fa-spin pull-right'></i> Países">Países</a>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <a href="~/Trips/Index" class="btn btn-info btn-sm btn-block custom-spin-button" data-loading-text="<i class='fa fa-circle-o-notch fa-spin pull-right'></i> Viajes como conductor">Viajes como conductor</a>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <a href="~/Reservations/Transportation?from=&to=" class="btn btn-info btn-sm btn-block custom-spin-button" data-loading-text="<i class='fa fa-circle-o-notch fa-spin pull-right'></i> Viajes como pasajero">Viajes como pasajero</a>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <a href="~/Trips/LoadDriverTripHistorial" class="btn btn-info btn-sm btn-block custom-spin-button" data-loading-text="<i class='fa fa-circle-o-notch fa-spin pull-right'></i> Historial de Viajes">Historial de Viajes</a>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <a href="~/TripQuestions/DisplayMessages" class="btn btn-info btn-sm btn-block custom-spin-button" data-loading-text="<i class='fa fa-circle-o-notch fa-spin pull-right'></i> Mensajes">Mensajes</a>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <a href="~/Account/ManageUsers" class="btn btn-info btn-sm btn-block custom-spin-button" data-loading-text="<i class='fa fa-circle-o-notch fa-spin pull-right'></i> Usuarios">Usuarios</a>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <a href="~/NotificationRequests/Index" class="btn btn-info btn-sm btn-block custom-spin-button" data-loading-text="<i class='fa fa-circle-o-notch fa-spin pull-right'></i> Usuarios">Solicitudes de notificación</a>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <a href="~/Logs/Index" class="btn btn-info btn-sm btn-block custom-spin-button" data-loading-text="<i class='fa fa-circle-o-notch fa-spin pull-right'></i> Usuarios">Logs</a>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
</div>
@*<div class="row form-group">
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <a href="~/Banks/Index" class="btn btn-info btn-sm btn-block custom-spin-button" data-loading-text="<i class='fa fa-circle-o-notch fa-spin pull-right'></i> Bancos">Bancos</a>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
</div>*@
