
@{
    ViewBag.Title = "Index";
}

<h3>¡Bienvenido!</h3>
<h6> Menú de Pasageros</h6>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<br />
<hr />

@*<link rel="stylesheet" type="text/css" href="~/Content/RoundButtons/css/style.css"/ >*@
<style>
    /*.btn-donate {
        background: #7580fc;
        text-align: center;
        width: 140px;
        height: 140px;
        border-radius: 70px;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: white;
        font-weight: bold;
        text-decoration: none;
    }*/

</style>
<div class="row form-group">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <a href="/Towns/Index" class="btn btn-default btn-lg col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right" role="button" aria-disabled="true" style="border-radius:50px">Localidades</a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <a href="/Reservations/Transportation" class="btn btn-default btn-lg col-lg-6 col-md-6 col-sm-6 col-xs-12" role="button" aria-disabled="true" style="border-radius:50px">Transporte</a>
    </div>
</div>
<hr />