
@{
    ViewBag.Title = "Index";
}

<h3>¡Bienvenido!</h3>
<h6> Menú de Pasajeros</h6>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<br />
<hr />
<div class="row form-group">
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
        <a href="/Towns/Index" class="btn btn-info btn-block btn-sm" role="button" aria-disabled="true" style="border-radius:50px; align-self:center">Solicitar Origen/Destino</a>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
        <a href="/Reservations/Transportation" class="btn btn-info btn-block btn-sm" role="button" aria-disabled="true" style="border-radius:50px; align-self:center">Solicitar Viaje</a>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
</div>