
@{
    ViewBag.Title = "Index";
}

<h3>¡Bienvenido!</h3>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<br />
<hr />
<div class="row form-group">
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <a href="~/Reservations/Transportation?from=&to=" class="btn btn-info btn-sm btn-block custom-spin-button" data-loading-text="<i class='fa fa-circle-o-notch fa-spin pull-right'></i> Viajes">Viajes</a>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <a href="~/TripQuestions/DisplayMessages" class="btn btn-info btnLink btn-block btn-sm" role="button" aria-disabled="true" style="border-radius:50px; align-self:center">Mensajes</a>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <a href="~/Reservations/LoadPassengerReservationHistorial" class="btn btn-info btn-sm btn-block custom-spin-button" data-loading-text="<i class='fa fa-circle-o-notch fa-spin pull-right'></i> Historial de Viajes">Historial de Viajes</a>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <a href="~/Account/ContactUs" class="btn btn-info btn-sm btn-block custom-spin-button" data-loading-text="<i class='fa fa-circle-o-notch fa-spin pull-right'></i> Contáctanos">Contáctanos</a>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
    </div>
</div>