
@{
    ViewBag.Title = "PhoneNumberNotVerified";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<hr />
<div class="container body-content">
    <div class="jumbotron" style="text-align:justify">
        <h4><a href="@Url.Action("ProfileInfo", "Manage")">Verifica tu celular</a></h4><br />

        <small>
            En buscoridecr.com pensamos en tu seguridad, es por esto que ahora será necesario que verifiques tu número celular antes de poder hacer uso de nuesto sitio. No te preocupes, esta verificación se hace sólo una vez. <br /><br />

            <b>¿Cómo funciona?</b><br /><br />
            Debes ingresar a tu <b><a href="@Url.Action("ProfileInfo", "Manage")">Períl</a></b> y dar clic en el botón "Enviar código de verificación", nosotros te mandaremos a tu celular un mensaje de texto con un código de verificación único
            de 6 dígitos, que deberás ingresar ahí mismo y posteriormente dar clic en el botón "Confirmar código de verificación".<br /><br />

            <b>¿Para qué verificar tu número?</b><br /><br />

            Uno de los temas más importantes en el carpooling es la seguridad. En nuestro sitio nadie puede crear o reservar viajes sin antes proveer datos de contacto reales. Esta es una forma de que tanto los pasajeros como los conductores
            tengan seguridad de que las personas con la que viajan están debidamente inscritas y que en caso de haber algún problema, buscoridecr.com tiene suficiente información para contactar al o los involucrados.
        </small>
    </div>
</div>
