@model CarpoolingCR.Objects.Responses.ReservationTransportationResponse

<div id="RequestJourneyContainer">
    <hr />

    <div class="row form-group">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input type="hidden" id="message" value="@Model.Message" />
            <input type="hidden" id="messageType" value="@Model.MessageType" />

            <label id="lblFromTo" class="hidden"></label>
            <label id="TripsCount" class="hidden">@Model.Trips.Count</label>
            <p id="tooltip">
                @*<a href="/RideRequests/Index" class="btn btn-info pull-right" title="¿No has encontrado un viaje que te sirva? Crea una solicitud de viaje y te avisaremos cuando haya alguno disponible">Notificaciones</a>*@
            </p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center">
            <div id="calendar"></div>
            <img id="requestJourneyProcessing" src="~/Content/Icons/processing.gif" style="width:50px;height:50px;" />
        </div>
    </div>

    <script>
            var iconRenderedDates = [];
            //$('#tooltip').tooltip();

        $(document).ready(function () {
            $('#calendar').fullCalendar({
                buttonText: {
                    today: 'Hoy',
                    month: 'Mes',
                    week: 'Semana',
                    day: 'Dia',
                    list: 'Lista'
                },
                weekends: true,
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abríl', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
                eventClick: function (calEvent, jsEvent, view) {
                    RedirectToDayTrips(calEvent.start);
                },
                eventLimit: true,
                views: {
                    agenda: {
                        eventLimit: 6
                    }
                },
                eventRender: function (event, element, view) {
                    return $('<p>&nbsp;&nbsp;' + event.count + ' <i class="fas fa-car"></i></p>');
                },
                //events: [

                //    ],
                contentHeight: "auto",
                selectable: true,
                navLinks: true,
                dayClick: function (date, jsEvent, view) {
                    RedirectToDayTrips(date);
                },
                dayRender: function (date, cell) {
                    cell.css("background-color", "#638CB8");
                },
                //locale: 'es',
                header: {
                    left: 'title',
                    center: '',
                    right: 'prev,today,next'
                }
            });

            $('#calendar').removeClass('hidden');
            $('#requestJourneyProcessing').addClass('hidden');

            ReloadTrips();
        });

        function ReloadTrips() {
            var arrayOfTrips = JSON.parse('@Html.Raw(Json.Encode(Model.Trips))');
            var events = [];

            if (arrayOfTrips.length == 1) {
                DisplayGrowlMessage(arrayOfTrips.length + " viaje disponible!", "success")
            } else if (arrayOfTrips.length > 1) {
                DisplayGrowlMessage(arrayOfTrips.length + " viajes disponibles!", "success")
            }

            for (var i = 0; i < arrayOfTrips.length; i++) {
                var tripId = arrayOfTrips[i].TripId;
                var availableSpaces = arrayOfTrips[i].AvailableSpaces;
                var unixTime = arrayOfTrips[i].DateTime.match(/\d+/)[0] * 1;
                var from = arrayOfTrips[i].FromTown;
                var to = arrayOfTrips[i].ToTown;

                document.getElementById('lblFromTo').innerHTML = from + ' - ' + to;

                alert(unixTime);
                alert(unixTime/1000)

                var actualDate = new Date(unixTime / 1000);
                var crTime = moment.tz(actualDate, "America/Costa_Rica");
                alert(actualDate);
                alert(crTime);

                var month = parseInt(actualDate.getMonth() + 1);
                var monthSrt = '';
                var day = parseInt(actualDate.getDate());
                var dayStr = '';

                if (month < 10) {
                    monthStr = '0' + month;
                } else {
                    monthStr = ''+month;
                }

                if (day < 10) {
                    dayStr = '0' + day;
                } else {
                    dayStr = '' + day;
                }

                var key = actualDate.getFullYear() + '-' + monthStr + '-' + dayStr;
                var obj = GetKeyValueObj(key, events);

                if (obj == null) {
                    obj = { key: key, count: 1, id: tripId, title: ''};

                    events.push(obj);
                } else {
                    obj.count = parseInt(obj.count + 1);
                }
            }

            for (var index in events) {
                var obj = events[index];

                 var event = {
                    id: obj.tripId,
                    title: availableSpaces + ' espacios',
                     start: obj.key,
                     end: obj.key,
                     //color: '#378006',
                     count: obj.count,
                };

                $('#calendar').fullCalendar('renderEvent', event, true);
            }

            var message = $('#message').val();
            var messageType = $('#messageType').val();

            if (message != '') {
                displayMessages(message, messageType);
            }
        }

        function GetKeyValueObj(key, events) {
            for (var index in events) {
                var currentObj = events[index];

                if (currentObj.key == key) {
                    return currentObj;
                }
            }

            return null;
        }

        function RedirectToDayTrips(date) {
            var fromto = document.getElementById('lblFromTo').innerHTML.split(' - ');
            window.location.href = '/Trips/DayTrips?date=' + date.format() + '&from=' + fromto[0] + '&to=' + fromto[1];
        }

    </script>
</div>