@model CarpoolingCR.Objects.Responses.NotificationsRequestResponse

@{
    ViewBag.Title = "Create";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<br />
<div class="row form-group" style="text-align:center">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h5 class="panel-title pull-left">Notificaciones</h5>
    </div>
</div>
<div class="row" style="text-align:center">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr />
    </div>
</div>
<div id="loading-content" class="row form-group" style="text-align:center; height:500px;">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <img src="~/Content/Icons/processing.gif" style="vertical-align:middle" /><br />
        <small>Procesando...</small>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

    </div>
</div>

<div id="main-content" class="form-group hidden">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form id="notifications-create-form" action="/carpoolingcr/NotificationRequests/Create" method="post">
            @Html.AntiForgeryToken()

            <div class="row form-group">
                <div class="row form-group">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <label class="control-label"><i class="fas fa-map-marker-alt">&nbsp;</i>Origen: </label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <select id="FromTown" name="FromTown" class="form-control" onfocus="this.select()">
                            @Html.Raw(Model.DistrictSelectOptionsHtml)
                        </select>
                        <label id="fromDistrictId"></label>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <label class="control-label"><i class="fas fa-map-marker-alt">&nbsp;</i>Destino: </label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <select id="ToTown" name="ToTown" class="form-control" onfocus="this.select()">
                            @Html.Raw(Model.DistrictSelectOptionsHtml)
                        </select>
                        <label id="toDistrictId"></label>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <label class="control-label"><i class="fas fa-calendar-alt">&nbsp;</i>Fecha: </label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <input id="DateTimeDisplay" name="DateTimeDisplay" autocomplete="off" class="form-control" type="text" onfocus="blur();">
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <label class="control-label"><i class="fas fa-clock">&nbsp;</i>Hora: </label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <input id="TimeDisplay" name="TimeDisplay" autocomplete="off" class="form-control" type="text" onfocus="blur();" style="width:100px">
                        <select id="hour-type" name="hour-type" class="form-control hidden" onfocus="this.select()">
                            <option value="1">Todo el día (12:00 am-11:59 pm)</option>
                            <option value="2">Madrugada (12:00 am-5:59 am)</option>
                            <option value="3">Mañana (6:00 am-11:59 am)</option>
                            <option value="4">Medio día (12:00 pm-12:59 pm)</option>
                            <option value="5">Tarde (1:00 pm-6:59 pm)</option>
                            <option value="6">Noche (7:00 pm-11:59 pm)</option>
                        </select>
                        <input id="time-options-check" name="time-options-check" type="checkbox" /> Hora Flexible
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <input type="button" value="Solicitar Notificaciones" onclick="return SubmitRequest()" class="btn btn-info btn-sm" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $('#main-content').slideUp(1);
    $('#loading-content').slideDown(1);

    $('#FromTown').editableSelect();
    $('#ToTown').editableSelect();
    $('#hour-type').editableSelect();
    $('#DateTimeDisplay').datetimepicker({
        mask: false,
        format: 'd/m/Y',
        timepicker: false,
        dates: 'ru'
    });
    $('#time-options-check').click(function () {
        if ($(this).prop("checked")) {
            $('#TimeDisplay').addClass('hidden');
            $('#hour-type').removeClass('hidden');
        }
        else if ($(this).prop("checked") == false) {
            $('#TimeDisplay').removeClass('hidden');
            $('#hour-type').addClass('hidden');
        }
    });

    $(document).ready(function () {
        $('#main-content').removeClass('hidden');
        $('#main-content').slideDown();
        $('#loading-content').slideUp();
    });

    $('#TimeDisplay').datetimepicker({
        datepicker: false,
        format: 'g:i A',
        step: 15,
        formatTime: 'g:i A',
    });

    $('#FromTown')
        .editableSelect()
        .on('select.editable-select', function (e, li) {
            if (li != undefined) {
                $('#last-selected').html(
                    $('#fromDistrictId').val(li.val())
                );
            }
        });
    $('#ToTown')
        .editableSelect()
        .on('select.editable-select', function (e, li) {
            if (li != undefined) {
                $('#last-selected').html(
                    $('#toDistrictId').val(li.val())
                );
            }
        });

    function SubmitRequest() {
        var from = $('#fromDistrictId').val();
        var to = $('#toDistrictId').val();
        var date = $('#DateTimeDisplay').val();
        var isFlexible = $('#time-options-check').prop("checked");
        var TimeDisplay = $('#TimeDisplay').val();
        var hourType = $('#hour-type').val();

        if (from == '') {
            //¡Origen Inválido!
            DisplayGrowlMessage('100012', 'warn');
            return false;
        }

        if (to == '') {
            //¡Destino Inválido!
            DisplayGrowlMessage('100036', 'warn');
            return false;
        }

        if (from == to) {
            //¡Origen y destino iguales!
            displayMessages('100074', 'warning')

            return false;
        }

        if (date == '') {
            //¡Fecha inválida!
            DisplayGrowlMessage('100037', 'warn');
            return false;
        }

        if (isFlexible == "on") {
            if (hourType == '') {
                //¡Hora Inválida!
                DisplayGrowlMessage('100075', 'warn');
                return false;
            }
        } else {
            if (TimeDisplay == '') {
                //¡Hora Inválida!
                DisplayGrowlMessage('100075', 'warn');
                return false;
            }
        }

        $('#notifications-create-form').submit();
    }
    function addDays(date, days) {
        var result = new Date(date);
        result.setDate(result.getDate() + days);
        return result;
    }
</script>
