@model CarpoolingCR.Objects.Responses.CancelNotificationResponse

@{
    ViewBag.Title = "Index";
}

<h4>Notificaciones</h4>
<br />

<div id="notification-request-index-container" class="row container">
    @Html.Partial("~/Views/NotificationRequests/Partials/p_Index.cshtml", Model);
</div>